
.content-column {
    display: flex;
    flex-direction: column;
    margin: 15px 12px;
}

.speed-row {
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0 0 3px 0;
}

.speed-input {
    margin: 0 4px;
    flex: 1;
}


.new-row-button {
    justify-content: center;
    display: flex;
}

.appear-button-like {
    padding: 5px;
    background-color: gainsboro;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 3px 1px -2px rgba(0,0,0, 20%), 0 2px 2px 0px rgba(0,0,0, 14%), 0 1px 5px 0px rgba(0,0,0, 12%);
    display: inline-block;
}

.title-input {
    margin: 2px 10px;
}

.delete-row-button {
    display: flex;
    align-items: center;
}